<!-- Header -->

<header class="header">
  <!-- Top Bar -->
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="top_bar_content d-flex flex-row align-items-center justify-content-start"
            >
              <div class="top_bar_phone">
                <span class="top_bar_title">phone:</span>+44 300 303 0266
              </div>
              <div class="top_bar_right ml-auto">            
                <!-- Social -->
                <div class="top_bar_social">
                  <span class="top_bar_title social_title">follow us</span>
                  <ul>
                    <li>
                      <a href="#"
                        ><i class="fa fa-facebook" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-instagram" aria-hidden="true"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#"
                        ><i class="fa fa-twitter" aria-hidden="true"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div
            class="header_content d-flex flex-row align-items-center justify-content-start"
          >
            <div class="logo_container mr-auto">
              <a href="#">
                <div class="logo_text">GoLang Studio</div>
              </a>
            </div>
            <nav class="main_nav_contaner">
              <ul class="main_nav">
                <li routerLinkActive="active"><a routerLink="home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="course">Courses</a></li>
                <li routerLinkActive="active"><a routerLink="about">About</a></li>
                <li routerLinkActive="active"><a routerLink="blog">Blog</a></li>
                <li><a>Contact</a></li>
              </ul>
            </nav>
            <div>    
              <!-- Hamburger -->
              <div class="hamburger menu_mm">
                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
