<div class="about">
  <div class="container">
    <div class="about-section">
      <h1>About Me</h1>
      <h5>Some text about who we are and what we do.</h5>
      <p>Resize the browser window to see that this page is responsive by the way.</p>
    </div>    
    <h2 style="text-align:center mt-5"></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/course_1.jpg" alt="Jane" style="width:100%" class="img-fluid">
          <div class="container mt-3">
            <h2>Aman Khaire</h2>
            <p class="title">CEO & Founder of Microsoft</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">        
        <div class="resume-box">
          <h4 class="text-center"> Resume</h4>
        </div>
      </div>
    </div>
  </div>
</div>
